#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-image: url(../assets/images/landing_background.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Carter One", sans-serif;
    font-size: min(120px, 15vh);

    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 2%;

    --text-outline-color: var(--clr-primary-a30);
    --text-outline-size: 2px;
    color: var(--clr-primary-a20);
    text-shadow: calc(-1 * var(--text-outline-size)) calc(-1 * var(--text-outline-size)) 0 var(--text-outline-color), var(--text-outline-size) calc(-1 * var(--text-outline-size)) 0 var(--text-outline-color), calc(-1 * var(--text-outline-size)) var(--text-outline-size) 0 var(--text-outline-color), var(--text-outline-size) var(--text-outline-size) 0 var(--text-outline-color);

    margin: 25vh 10px 0px;

    user-select: none;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 10px 20px;
    margin: 40px 0px 0px 0px;
    border-radius: 15px;

    background: linear-gradient(to right, #ff416c, #ff4b2b);
    box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.2);

    transition: transform 0.2s ease;
}

.primary-btn:hover {
    outline: 2px solid white;
}

.primary-btn:active {
    transform: scale(0.95);
}

.primary-btn .icon {
    max-width: 25px;
    max-height: 25px;
    transition: transform 0.5s ease;
}

.primary-btn:hover .icon {
    transform: rotate(180deg);
}

.primary-btn p {
    font-size: 20px;
    letter-spacing: 10%;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    color: white;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 800px) {
    h1 {
        font-size: max(30px, 15vw);
    }
}
